@import 'fonts.css';

*
{
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: "Myriad Pro Regular";
}
p
{
   margin: 0;
}
a
{
   text-decoration: none;
   color: inherit;
}
a:hover
{
   text-decoration: none;
   color: inherit;
}
img
{
   width: 100%;
}

/*==============================start header============================================== */
.header
{
  background: url(../images/jesus-kiteque-wn-KYaHwcis-unsplash.jpg)no-repeat center /cover;
  height: 667px;
}
.header-nav
{
    padding: 17px 0 75px 0;
 }
 .header-menu
 {
    width: 635px;

 }
 .header-link
 {
    font-family: "Montserrat Medium";
    font-size: 12px;
    color: #191919;
 }
 .header-link:hover
 {
    color: #007d2f;
 }

.header-title
{
   width: 446px;
   font-family: "Montserrat Medium";
   color: #1d1d1d;
   font-size: 35,84px;
}
.header-description
{
   width: 446px;
   font-family: "Montserrat Thin";
   font-size: 15,36px;
   color: #9a9b9d;
   margin: 37px 0 56px 0;
}
.header-link-us
{
   display: inline-block;
   background: #007d2f;
   font-family: "Montserrat Medium";
   font-size: 12px;
   color: #ffffff;
   padding: 21px 57px 23px 45px;
}
.header-link-us:hover
{
   color: #ffffff;   
}
/* =========================================header end=============================================== */
/* =============================================start main============================ */
.about-us-title
{
   font-family: "Montserrat Medium";
   font-size: 34,43px;
   color: #191919;
   margin-top: 96px;
}
.about-us-text
{
   font-family: "Nunito Sans Regular";
   font-size: 13,82px;
   color: #787878;
   margin: 46px 0 52px 0;
   text-align: center;
}
.professional-skils
{
   margin-top: 45px;

}
.pr-skils-title
{
   font-family: "Montserrat Medium";
   font-size: 30px;
   color: #171717;
}
.pr-skils-p
{
   font-family: "Montserrat Medium";
   font-size: 12px;
   color: #000000;
   margin: 40px 0 20px 0;
}
.pr-skils-image
{
   width: 66%;
}
.visitor
{
   background-color: #007d2f;
}
.icons-visiter
{
   display: flex;
   justify-content: space-evenly;
   text-align: center;
   color: #ffffff;
   font-family: Montserrat Medium;
   margin: 76px 0 ;
}
.numbers
{
   font-size: 18px;
   margin: 12px 0;
}
.icons-text
{
   font-size: 12px;
}
.icons-content
{
   display: flex;
   flex-wrap: wrap;
justify-content: center;
}
.icons-content-image
{
   width: 25%;
}
.icons-content-p
{
   font-family: "Montserrat Medium";
   font-size: 21,13px;
   color: #ffffff;
   margin: 45px 0 40px 0;
}
.process
{
   margin: 101px 0 209px 0;
}
.process-title
{
   font-family: "Montserrat Medium";
   font-size: 43,62px;
   color: #191919;
   text-align: center;
}
.process-p
{
   margin: 34px 0 52px 0;
   font-family: "Nunito Sans Regular";
   font-size: 22,28px;
   color: #787878;
}
.progress-bar
{
   background-color: #007d2f !important;
}
.progress
{
   height: 3px !important;
}
.icons-bottom-content
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.icons-b-content
{
   width: 225px;
   text-align: center;
}
.icon-b-title
{
   font-family: "Montserrat Medium";
   font-size: 11,89px;
   color: #191919;
   margin-top: 23px;
}
.icon-b-p
{
   font-family: "Nunito Sans Regular";
   font-size: 15,89px;
   color: #787878;
   margin: 22px 0 56px 0;
}
.green-carousel
{
   background-color: #007d2f;
   padding: 195px 0 65px 0;
}
.green-carousel-text
{
   font-family: "Montserrat Medium";
   font-size: 19,73px;
   color: #ffffff;
   text-align: center;
}
.green-carousel-text-bottom
{
   font-family: "Montserrat Medium";
   font-size: 16,41px;
   color: #ffffff;
   text-align: center;
   margin-top: 35px;
}
.images-text
{
   margin-top: 65px;
}
.justify-content-evenly
{
   justify-content: space-evenly;
}
.images-t
{
   width: auto;
}
.project
{
   margin: 90px 0 95px 0;
}
.project-title
{
   font-family: "Montserrat Medium";
   font-size: 30px;
   color: #1d1d1d;
   text-align: center;
}
.project-text
{
   font-family: "Nunito Sans Regular";
   font-size: 16px;
   color: #787878;
   margin-bottom: 35px;
   text-align: center;
}
.coment
{
   width: 100%;
}
.user-coment
{
   width: 100%;
   height: 100px;
}
.send
{
   background: #007d2f;
   font-family: "Montserrat Medium";
   font-size: 12px;
   color: #ffffff;
   padding: 20px 23px;
}
.image-rospis-antonova
{
   width: 220px;
    height: 106px;
}
.icons i
{
   font-size: 48px;
}
.icons-b-content
{
   font-size: 47,57px;
}
.eye
{
   display: none;
   position: absolute;
   right: 0;
   left: 0;
   top: 0;
   bottom: 0;
   justify-content: center;
   align-items: center;
   font-size: 48px;
}
.icons-content-image:hover .eye
{
   display: flex;
}
.icons-content-image
{
   position: relative;
}
.home
{
   background-color: #007d2f;
}
.home-title
{
   font-family: "Montserrat Medium";
   font-size: 30,02px;
   color: #171717;
   margin: 113px 0 38px;
   text-align: center;
}
.home-text
{
   font-size: 17,23px;
   color: #fefefe;
   text-align: center;
   margin-bottom: 95px;
}
.about-black
{
   background-color: #323232;
   padding: 117px 0 105px;
}
.about-black-title
{
   font-family: "Montserrat Medium";
   font-size: 61,69px;
   color: #ffffff;
   text-align: center;
}
.about-black-text
{
   font-family: "Nunito Sans Regular";
   font-size: 22,52px;
   color: #ffffff;
   margin-top: 17px;
   text-align: center;
}
.about-me
{
   background-color: #f5f5f5;
}
.about-me-image
{
   width: 50%;
}
.about-me-tex
{
   width: 50%;
   padding: 0 105px;
}
.about-me-title
{
   font-family: "Montserrat Medium";
   font-size: 30px;
   color: #171717;
}
.about-me-p
{
   font-family: "Nunito Sans Regular";
   font-size: 16px;
   color: #787878;
   margin: 35px 0 36px;
}
.about-need
{
   background-color: #ffffff;
}
.about-need-title
{
   font-family: "Montserrat Medium";
   font-size: 30px;
   color: #1d1d1d;
   text-align: center;
   margin: 105px 0 42px;
}
.about-need-p
{
   font-family: "Nunito Sans Regular";
   font-size: 16px;
   color: #787878;
   text-align: center;
}
.about-need-link
{
   display: flex;
   display: inline-block;
   background-color: #007d2f;
   font-family: "Montserrat Medium";
   font-size: 12px;
   color: #ffffff;
   padding: 22px 41px;
   margin: 40px auto 100px;;
}
.about-need-link:hover
{
   color: #ffffff;
}
.contact-title
{
   font-family: "Montserrat Medium";
   font-size: 30px;
   color: #171717;
}
.contact-discription
{
   font-family: "Nunito Sans Regular";
   font-size: 16px;
   color: #787878;
   margin: 40px 122px 36px 0;
}
.contact-info
{
   font-family: "Nunito Sans Regular";
   font-size: 16px;
   color: #787878;
}
.contact-info span
{
   font-family: "Nunito Sans Bold";
   font-size: 16px;
   color: #171717;
}
.maps
{
   margin: 97px 0 100px;
}

.carousel-text
{
   width: 50%;
   height: 100%;
   background-color: #f6f6f6;
}
.singl-title
{
   font-family: "Montserrat Medium";
   font-size: 38px;
   color: #171717;   
}
.carousel-description
{
   font-family: "Nunito Sans Regular";
   color: #787878;
   font-size: 16px;
   margin: 40px 170px 55px 0;
}
.singl-li span
{
   font-family: "Nunito Sans Bold";
   font-size: 16px;
   color: #171717;
}
.singl-li
{
   font-family: "Nunito Sans Regular";
   font-size: 16px;
   color: #787878;
}
.singl-image
{
   width: 50%;
}
.control-singl-text
{
   font-family: "Montserrat Medium";
   font-size: 12px;
   color: #ffffff;
}
.singl-controls
{
   background-color: #007d2f;
}
.control-singl-slayder
{
   margin: 45px 0 ;
   font-family: "Montserrat Medium";
   font-size: 12px;
   color: #ffffff;
}
/*==============================main end===========================================*/
/*==================================footer start====================================== */
.footer
{
   background-color: #141414;
   padding: 102px 0;
}
.left-footer-top
{
   font-family: "Montserrat Medium";
   font-size: 18px;
   color: #ffffff;
}
.left-footer-center
{
   font-size: 15px;
   color: #bcbcbc;
   margin: 30px 0 13px 0;
}
.left-footer-bottom
{
   font-size: 15px;
   color: #bcbcbc;
}
.email-footer
{
   font-family: "Nunito Sans Regular";
   color: #bcbcbc;
   font-size: 15px;
}
.number-footer
{
   font-family: "Work Sans Regular";
   color: #bcbcbc;
   font-size: 15px;
   margin-top: 153x;
}
.link-footer
{
   font-family: "Nunito Sans Regular";
   font-size: 15px;
   color: #bcbcbc;
}